<div class="chat-area">
    <div class="messages-area" id="chatArea">
        <mensagem_ class="first">
            <image_ class="message-image"></image_>
            <content_ class="message-content">Olá</content_>
        </mensagem_>
        <mensagem_>
            <content_ class="message-content">Como você está?</content_>
        </mensagem_>
        <mensagem_>
            <content_ class="message-content">
                It is a long established fact that a reader will be distracted by
                the readable content of a page when looking at its layout.
            </content_>
        </mensagem_>
        <mensagem_>
            <content_ class="message-content">more-or-less</content_>
        </mensagem_>
        <mensagem_>
            <content_ class="message-content">Como você está?</content_>
        </mensagem_>
        <mensagem_>
            <content_ class="message-content">
                It is a long established fact that a reader will be distracted by
                the readable content of a page when looking at its layout.
            </content_>
        </mensagem_>
        <mensagem_>
            <content_ class="message-content">more-or-less</content_>
        </mensagem_>
        <mensagem_ class="last">
            <content_ class="message-content">
                It is a long established fact that a reader will be distracted by
                the readable content of a page when looking at its layout.
            </content_>
            <time_ class="message-time">08:45</time_>
        </mensagem_>


        <mensagem_ class="first">
            <image_ class="message-image test"></image_>
            <content_ class="message-content">
                It is a long established fact that a reader will be distracted by
                the readable content of a page when looking at its layout.
            </content_>
        </mensagem_>
        <mensagem_>
            <content_ class="message-content">Como você está?</content_>
        </mensagem_>
        <mensagem_>
            <content_ class="message-content">
                It is a long established fact that a reader will be distracted by
                the readable content of a page when looking at its layout.
            </content_>
            <time_ class="message-time">08:47</time_>
        </mensagem_>

        <empty></empty>
    </div>
</div>