<div class="input-area">
    <div class="input-message">
        <input type="text" placeholder="Type yout text here..." />
        <button><ion-icon name="send"></ion-icon></button>
    </div>
</div>