@using Microsoft.JSInterop

@inject IJSRuntime js

<div class="input-area">
    <div class="input-message">
        <input type="text" placeholder="Type yout text here..." @bind="newMessage" @onkeypress="OnKeyPress"/>
        <button id="btnEnviar" @onclick="SendMessage"><ion-icon name="send"></ion-icon></button>
    </div>
</div>

@code{
    [Parameter]
    public EventCallback<string> OnSendMessage {get;set;}

    private string newMessage = "";

    private async Task SendMessage()
    {
        Console.WriteLine("Step 2");
        await OnSendMessage.InvokeAsync(newMessage);
        newMessage = "";
    }

    private async Task OnKeyPress(KeyboardEventArgs e)
    {
        if(e.Key == "Enter")
        {
            await js.InvokeVoidAsync("pressButton", "btnEnviar");

        }
    }
}