<div class="profile-area">



	@if (!string.IsNullOrEmpty(Image))
	{
		<div class="profile-image-area">

			<image_ class="profile-image"
					style="background-image:url(/images/@Image) !important;"></image_>
		</div>

	}



	@if (!string.IsNullOrEmpty(Name))
	{
		<div class="profile-name-area">
			<text_ class="profile-name">@Name</text_>
		</div>
	}



</div>

@code {

	[Parameter]
	public string? Name { get; set; }

	[Parameter]
	public string? Image { get; set; }
}